fastapi
uvicorn
pandas
scikit-learn
python-multipart
motor
pymongo
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
google-auth
requests
python-dotenv
dnspython
pytest
httpx
pytest-asyncio
PyJWT
pydantic[email]
email-validator
passlib[bcrypt]

